{% extends 'shop_app/base.html' %}

{% block title %} О себе {% endblock %}

{% block content %}
    <div>
            <h1>Страница о себе</h1>
            <img src="https://avatars.mds.yandex.net/i?id=7d7382921eceffaa12e807a55278256c1b2fc273-9869754-images-thumbs&n=13">
            <div class="text">
                <p>
                   Знаю час и знаю день<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Бара бара бан&nbsp;— <br>
                    Дрожить в руках. <br>
                    Идёт крокодил и рядом чебурашка.
                </p>
                <p>
                   День рожденье тут<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Почему весёлые такие. <br>
                    Zoo <br>
                    У бегает.
                </p>
                <p>
                   По тропе<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Чебурашка взял косой у гены <br>
                    Радуюсь<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span>как могу<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Весёлый чебурек теперь.
                </p>
                <p>
                    Падает бошки&nbsp;— «вжух!»&nbsp;— <br>
                    За всякий взгляд… <br>
                    Добро теперь <br>
                    В не в чём увидел.
                </p>
                <p>
                    Барабан<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Стучит <br>
                    Идут<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Дорогой<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Далеко<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span>что я живу.
                </p>
            </div>
       </div>

        <br>
{% endblock %}